html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;

  background: url("images/bg.jpg") center center / cover no-repeat fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.55);
  pointer-events: none;
}

.hero-name {
  font-size: 3rem;      
  font-weight: 700;
  color: #111827;         
  margin-bottom: 10px;
}

.story-link {
  display: inline-block;
  margin-top: 10px;
  color: #234460;
  text-decoration: none;
  font-size: 0.95rem;
}

.story-link:hover {
  text-decoration: underline;
}

/* =========================
   RESPONSIVE (MOBILE)
========================= */
@media (max-width: 768px) {

  html, body {
    height: auto;
    min-height: 100dvh;

    overflow-x: hidden;
    overflow-y: auto;

    background: url("images/bg.jpg") center center / cover no-repeat;
    background-attachment: scroll;
  }
}


@media (max-width: 768px) {

  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    order: -1;   
    margin-bottom: 15px;
  }

  .profile-pic {
    width: 190px;
    height: 230px;
  }

  .hero-name {
    font-size: 1.5rem;
  }
}










@media (max-width: 480px) {

  html, body {
    height: auto;
    min-height: 100dvh;

    overflow-x: hidden;
    overflow-y: auto;

    background: url("images/bg.jpg") center center / cover no-repeat;
    background-attachment: scroll;
  }
}


@media (max-width: 480px) {

  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    order: -1;   
    margin-bottom: 15px;
  }

  .profile-pic {
    width: 170px;
    height: 200px;
  }

  .hero-name {
    font-size: 1.5rem;
  }
}






/* =========================
   TABLETS
   (769px - 1024px)
========================= */
@media (min-width: 769px) and (max-width: 1024px) {

  html, body {
    overflow-x: hidden;
    background: url("images/bg.jpg") center center / cover no-repeat;
    background-attachment: fixed;
  }

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
  }

  .hero-image {
    order: 0;
    margin-bottom: 0;
  }
  
  
  .profile-pic {
    width: 250px;
    height: 300px;
  }

  .hero-name {
    font-size: 2.2rem;
  }
}


/* =========================
   NOTEBOOKS / SMALL LAPTOPS
   (1025px - 1366px)
========================= */
@media (min-width: 1025px) and (max-width: 1366px) {

  html, body {
    overflow-x: hidden;
    background: url("images/bg.jpg") center center / cover no-repeat;
    background-attachment: fixed;
  }

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
  }

  .hero-image {
    order: 0;
    margin-bottom: 0;
  }

  .profile-pic {
    width: 260px;
    height: 320px;
  }

  .hero-name {
    font-size: 2.8rem;
  }
}




